.file-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
  }
  
  .hidden-file-input {
    display: none; /* Приховуємо стандартний інпут */
  }
  
  